# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
postgres_data/
# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/

# Docker
.env
.env.local
.env.development
.env.test
.env.production

# Virtual Environment
venv/
ENV/
env/
.venv/

# IDE - PyCharm
.idea/
*.iws
*.iml
*.ipr

# IDE - VSCode
.vscode/
*.code-workspace

# Mac files
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# PostgreSQL
data/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env.local
.env.development.local
.env.test.local
.env.production.local

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Docker Compose override
docker-compose.override.yml